.close {
  display: none;
}
.hamburger {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.nav .btn--invite {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.active {
  @media screen and(max-width:600px) {
    display: block;
  }
}
