.nav {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: $White;
  position: relative;
  z-index: 10;
  padding: 1rem 2rem;
  &__item {
    display: flex;
    justify-content: space-between;
    width: 40%;
    @media screen and(max-width:600px) {
      position: absolute;
      top: 6rem;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $White;
      width: 80%;
      display: none;
      text-align: center;
      height: 25rem;
      padding: 3rem 0;
      box-shadow: 0 5px 5px rgba(#000, 0.9);
    }
    & li {
      list-style: none;
      &:hover {
        transform: scale(1.2);
      }
      @media screen and(max-width:600px) {
        margin: 1rem 0;
      }
      & a {
        text-decoration: none;
        color: $DarkBlue;
        font-size: 1.2rem;
        position: relative;
        cursor: pointer;
        @media screen and(max-width:600px) {
          font-size: 2rem;
        }
        &:hover {
          &::after {
            content: "";
            background: $LimeGreen;
            height: 0.3rem;
            width: 100%;
            position: absolute;
            top: 3.1rem;
            left: 0;
            transition: 0.2s;
            @media screen and (max-width: 37.5em) {
              display: none;
            }
          }
        }
      }
    }
  }
}
